<!DOCTYPE html>
<html>
<head>
    <title>@(title)</title>
    <script async id="MathJax-script" src="@(mathjax)"></script>
    <script src="@(mermaid)"></script>
    <script src="@(highlightjs)"></script>
    <link href="@(stylePath)" rel="stylesheet"/>
    <link href="@(highlightjs_style)/@(highlightjs_theme_name)" rel="stylesheet"/>
    <link href="@(fontawesome)" rel="stylesheet"/>
    <script>
        @(disableAutoLanguageDetection)
        hljs.highlightAll();
    </script>
    <style>
        body {
            background-color: white;
        }

        pre {
            padding: 0;
        }

        pre code.hljs {
            white-space: pre-wrap;
        }

        @
        (
        tocStyle

        )
    </style>
    @(customHeadContent)
</head>
<body class="markdown-body">
@(body)
</body>
</html>
