name: .NET

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ## Only build nuget package and release to Nuget.org when running on main branch
  dotnet_pack_release_job:
    uses: baoduy/ShareWorkflows/.github/workflows/dotnet-nuget-release.yml@main
    with:
      Project_Path: 'src/DKNet.FW.sln'
      Enable_Release: false ## ${{ github.ref  == 'refs/heads/main'}}
      Enable_Nuget_Release: ${{ github.ref  == 'refs/heads/main'}}
      Dotnet_Version: 9.x
    secrets:
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
      NUGET_PACKAGE_TOKEN: ${{ secrets.NUGET_PACKAGE_TOKEN }}
